<!DOCTYPE html>
<html lang="ko">
<%- partial('head') %>
<body id="page-top" class="fixed-nav sticky-footer bg-dark">
	<div id="page">
		<%- partial('header') %>
		<%- partial('contents') %>
		<%- partial('footer') %>
	</div>
</body>
</html>
